<!DOCTYPE html>
<html>
  <head>
    <title>PPaste!</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">

    {% block additional_css %}{% endblock %}
  </head>

  <body>
      <div class="container">
	<h1>PPaste!</h1>
	<h3>{% block title %}{% endblock %}</h3>
	<p><a href="{{ url_for('home') }}">Home</a> -
	  <a href="{{ url_for('list_pastes') }}">All the pastes</a> -
	  <a href="https://github.com/Thooms/PPaste">Authored by Thooms</a>

	</p>

      </div>

      {% block main %}{% endblock %}
  </body>
</html>
