<!DOCTYPE html>
<html>
  <head>
    <title>PPaste</title>
  </head>

  <body>
    <p>PPaste!</p>

    <form action="{{ url_for('submit') }}" method="POST">
      Title (optional) <input type="text" name="title">
      <br>
      Syntax highlighting (optional)
      <select name="hl">
        {% for lexer in lexers %}
        <option value="{{ lexer[1][0] }}">{{ lexer[0] }}</option>
        {% endfor %}
      </select>
      <textarea rows="50" cols="80" name="pastecontent" placeholder="Put your code here" autofocus></textarea>
      <br>
      <input type="submit" value="Go!">
    </form>
  </body>
</html>
