{% extends 'base.html' %}

{% block title %}All the pastes{% endblock %}

{% block main %}
<div class="container">
    <table class="u-full-width">
	<thead>
	    <tr>
		<th>Paste</th>
		<th>Title</th>
		<th>Language</th>
	    </tr>
	</thead>

	<tbody>
	    {% for paste in pastes %}
	    <tr>
		<td>
		    <a href="{{ url_for('view_paste', paste_name=paste['name']) }}">
			{{ paste['name'] }}
		    </a>
		</td>
		<td><em>{{ paste['title'] }}</em></td>
		<td>{{ paste['hl_alias'] }}</td>
	    </tr>
	    {% endfor %}
	</tbody>
    </table>
</div>
{% endblock %}
